.home-screen {
  display: flex;
  flex-direction: column;
  font-size: 16px;

  @import "components/patients/patients";
  @import "components/transfusion/transfusion";
  @import "components/adverseEffects/adverse";
  @import "components/testsPre/pre-transfusion";
  @import "components/hemocomponents/hemocomponents";

  .contenedor {
    margin: 9.5em auto 2em;
    width: 80%;

    .contenido {
      display: flex;
      flex-direction: column;
      align-items: center;

      .titulo {
        color: $azul-oscuro;
        font-weight: 600;
      }

      .grilla-servicios {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 2em;
        grid-row-gap: 1em;

        .img-seccion {
          width: 100%;
          cursor: pointer;
          grid-column: span 2;
        }

        .img-final-1 {
          grid-column: 2 / 4;
        }

        .img-final-2 {
          grid-column: 4 / 6;
        }
      }
    }
  }
}

@media screen and (min-width: 1600px){
  .landing-screen {
    font-size: 1.3vw;
  }
}