.home-screen {
  display: flex;
  flex-direction: column;

  .contenido {
    margin: 8em 0 5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo {
      color: $azul-oscuro;
      font-weight: 600;
    }

    .grilla-servicios {
      width: 80%;
    }
  }
}